{{ "<!-- Footer -->" | safeHTML}}
    <!-- <footer id="footer">
        <div class="inner">
            <ul class="icons">
                {{ range .Site.Params.Footer.social }}
                    <li><a href="{{ .url | safeHTML }}" class="icon alt {{ .icon }}" target="_blank"><span class="label">{{ .label }}</span></a></li>
                {{ end }}
            </ul>
            <ul class="copyright">
                <li>&copy; {{ .Site.Params.Footer.copyright }}</li>
                {{ range .Site.Params.Footer.quicklinks}}
                <li>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></li>
                {{ end }}
            </ul>
        </div>
    </footer> -->
    <div id="footerWrapper">
            <footer id="footer">
                <div class="sqs-layout sqs-grid-1 columns-1" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1491913420422" id="footerBlocks-1">
                    <div class="row sqs-row">
                        <div class="col sqs-col-1 span-1">
                            <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_23_1491911543191_3541">
                                <div class="sqs-block-content">
                                    <div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-white social-icons-size-medium social-icons-shape-circle social-icons-style-solid">
                                        <nav class="sqs-svg-icon--list">
                                            <a class="sqs-svg-icon--wrapper email" href="mailto:jason.mone@pm.me" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#email-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#email-mask"></use></svg>
                                            </div></a> <a class="sqs-svg-icon--wrapper facebook" href="http://www.facebook.com/jsonmone/" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#facebook-mask"></use></svg>
                                            </div></a> <a class="sqs-svg-icon--wrapper twitter" href="https://twitter.com/jason-mone" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#twitter-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#twitter-mask"></use></svg>
                                            </div></a> <a class="sqs-svg-icon--wrapper instagram" href="http://instagram.com/" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#instagram-mask"></use></svg>
                                            </div></a> <a class="sqs-svg-icon--wrapper dribbble" href="http://www.dribbble.com/jasonmone" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#dribbble-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#dribbble-mask"></use></svg>
                                            </div></a> <a class="sqs-svg-icon--wrapper behance" href="https://www.behance.net/jasonmone" target="_blank">
                                            <div>
                                                <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#behance-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#behance-mask"></use></svg>
                                            </div></a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-40f159a0040d9c51eb73">
                                <div class="sqs-block-content">
                                    <p class="text-align-center">© {{ now.Format "2006" }} Jason</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-links sqs-svg-icon--list" data-content-field="connected-accounts" id="socialLinks">
                    <a class="sqs-svg-icon--wrapper email" href="mailto:jason.mone@pm.me" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#email-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#email-mask"></use></svg>
                    </div></a> <a class="sqs-svg-icon--wrapper facebook" href="http://www.facebook.com/jsonmone/" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#facebook-mask"></use></svg>
                    </div></a> <a class="sqs-svg-icon--wrapper twitter" href="https://twitter.com/jason-mone" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#twitter-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#twitter-mask"></use></svg>
                    </div></a> <a class="sqs-svg-icon--wrapper instagram" href="http://instagram.com/" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#instagram-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#instagram-mask"></use></svg>
                    </div></a> <a class="sqs-svg-icon--wrapper dribbble" href="http://www.dribbble.com/jasonmone" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#dribbble-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#dribbble-mask"></use></svg>
                    </div></a> <a class="sqs-svg-icon--wrapper behance" href="https://www.behance.net/jasonmone" target="_blank">
                    <div>
                        <svg class="sqs-svg-icon--social" viewbox="0 0 64 64">
                        <use class="sqs-use--icon" xlink:href="#behance-icon"></use>
                        <use class="sqs-use--mask" xlink:href="#behance-mask"></use></svg>
                    </div></a>
                </div>
            </footer>
        </div>
    </section>
</div>
</div>
</div>