<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta charset="utf-8" />
<title>Jason Mone</title>
<link rel="shortcut icon" type="image/x-icon" href="static1.squarespace.com/static/57b6caa3414fb51e1ec5dc0b/t/58ac21703e00be18102dadfc/favicon.jpg" />
<link rel="canonical" href="index.html" />
<meta property="og:title" content="Projects" />
<meta property="og:url" content="index.html" />
<meta property="og:type" content="website" />
<meta itemprop="name" content="Projects" />
<meta itemprop="url" content="index.html" />
<meta name="twitter:title" content="Projects" />
<meta name="twitter:url" content="index.html" />
<meta name="twitter:card" content="summary" />
<meta name="description" content="" />
<link rel="stylesheet" media="screen" href="{{ "assets.calendly.com/packs/landing-cee23350.chunk.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/static1.squarespace.com/static/sitecss/57b6caa3414fb51e1ec5dc0b/38/55dccafee4b04b8e0d7b6d4d/5888cbfccd0f68a6638cea57/943-05142015/1538737324482/site8696.css?&amp;filterFeatures=false" | relURL }}" /><!-- <![endif]-->



<link rel="stylesheet" type="text/css" href="{{ "css/grid.css" | relURL }}" />

<link rel="stylesheet" type="text/css" href="{{ "css/project.css" | relURL }}" />


<script src="{{ "js/jquery-1.11.1.min.js" | relURL }}"></script>
<script src="{{ "js/modernizr.custom.js" | relURL }}"></script>
<script src="{{ "js/snap.svg-min.js" | relURL }}"></script>

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="work-1cecb?format=RSS" />
<script>
	window.BackendData = {
		"settings": {
			"asset_host": "assets.calendly.com",
			"maxUploadFileSize": 5242880,
			"animation": {
				"enabled": true
			},
			"segment": {
				"enabled": true,
				"write_key": "rfvnxd6wnn"
			},
			"google_analytics": {
				"enabled": false
			},
			"airbrake": {
				"id": 90109,
				"key": "33e7bfc479c92accc9cf887bd3de1db5",
				"js": {
					"enabled": true
				}
			},
			"server_time": 1541442690,
			"force_ssl": true,
			"locale": {
				"endonyms": {
					"de": "Deutsch",
					"en": "English",
					"es": "Español",
					"fr": "Français",
					"it": "Italiano",
					"nl": "Nederlands",
					"ps": "Ṕṡḛḛṵṵḍṓṓ",
					"pt": "Português (Brasil)"
				}
			}
		},
		"feature_flags": {
			"enable_exchange": false,
			"stripe_restrict_connect": false,
			"paypal_restrict_connect": false,
			"pages_flag": false,
			"meet_conferencing": false,
			"outlook_desktop_improvements": true,
			"marketing_de": true,
			"marketing_pt": true,
			"collective_adhocs": false,
			"recaptcha_activate_feature": false,
			"recaptcha_enforce_feature": false,
			"gtm_auth_v2_feature": true,
			"extension_copy_to_clipboard_feature": true,
			"extension_overlapping_events": true,
			"publisher_pt_feature": true,
			"single_use_links_feature": true,
			"guided_intro_v1_feature": false,
			"guided_intro_a10y_feature": false,
			"booking_v3_feature": false,
			"zoom_feature": false,
			"extension_embed_ET_times_feature": false,
			"organization": {
				"enable_exchange": false,
				"stripe_restrict_connect": false,
				"paypal_restrict_connect": false,
				"pages_flag": false,
				"meet_conferencing": false,
				"outlook_desktop_improvements": true,
				"marketing_de": true,
				"marketing_pt": true,
				"collective_adhocs": false,
				"recaptcha_activate_feature": false,
				"recaptcha_enforce_feature": false,
				"gtm_auth_v2_feature": true,
				"extension_copy_to_clipboard_feature": true,
				"extension_overlapping_events": true,
				"publisher_pt_feature": true,
				"single_use_links_feature": true,
				"guided_intro_v1_feature": false,
				"guided_intro_a10y_feature": false,
				"booking_v3_feature": false,
				"zoom_feature": false,
				"extension_embed_ET_times_feature": false
			}
		},
		"locale": "en",
		"modules": {},
		"components": [],
		"gdpr_consent": {
			"locale": "en",
			"cookies_allowed": false,
			"can_opt_out": false,
			"local_storage_allowed": false,
			"enforce_opt_in": false,
			"reload_required": false,
			"tos_required": true,
			"should_show_consent": true,
			"accept_opt_in_via_get": false
		},
		"segment_identify_options": null
	}
</script>
<script src="{{ "assets.calendly.com/packs/vendor-89c47a8c80c20bf3d53a.js" | relURL }}"></script>
<script src="{{ "assets.calendly.com/packs/translations/en-84d5b254836a1c85dcaa.chunk.js" | relURL }}"></script>
<script src="{{ "assets.calendly.com/packs/landing-5d210d8bb292cd2e49de.chunk.js" | relURL }}"></script>


</head>