{{ "<!-- Header Navigation -->" | safeHTML }}
<div class='navbar'>
    <div class='flex2 container header clearfix'>
      <div class='toggle'>
        <div class='toggle-bar top'></div>
        <div class='toggle-bar middle'></div>
        <div class='toggle-bar bottom'></div>
      </div>
      
      <ul class='links2'>
        <li><a href="/">jason mone</a></li>
      </ul>
      
      <ul class='links'>
            {{ range .Site.Params.Navigation.links }}
        <li><a class="" href="{{ .url | absURL}}">{{ .name }}</a></li>            
        {{ end }}
        <li><a class="" href="pages/integrations.html">jason.mone@pm.me</a></li>
        <!-- <li class='dropdown dropdown-toggle-on-hover'>
            <a href="pages/solutions.html">jason.mone@pm.me</a>
            <ul class='dropdown-menu'>
              <li><a href="pages/solutions/sales-and-marketing.html">Sales + Marketing</a></li>
              <li><a href="pages/solutions/customer-success-and-account-management.html">Customer Success + Account Management</a></li>
              <li><a href="pages/solutions/interview-scheduling.html">Interview Scheduling</a></li>
              <li><a href="pages/solutions/education.html">Education</a></li>
              <li><a href="pages/solutions/freelancers-and-consultants.html">Freelancers + Consultants</a></li>
              <li><a href="pages/solutions/leaders-and-entrepreneurs.html">Leaders + Entrepreneurs</a></li>
            </ul>
          </li> -->
        </li>
      </ul>
    </div>
</div>


