@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: local('Chivo Italic'), local('Chivo-Italic'), url(http://fonts.gstatic.com/s/chivo/v9/va9G4kzIxd1KFrBtceFfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(http://fonts.gstatic.com/s/chivo/v9/va9I4kzIxd1KFrBoQeY.ttf) format('truetype');
}
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: local('Chivo Black'), local('Chivo-Black'), url(http://fonts.gstatic.com/s/chivo/v9/va9F4kzIxd1KFrjrZvZ4sKg.ttf) format('truetype');
}
